In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.Series(np.random.randn(8),index=[["a","a","a","b","b","b","c","c"],[1,2,3,1,2,3,1,2]])
data

a  1    0.753959
   2    0.437285
   3    0.808117
b  1    1.177771
   2   -0.871868
   3   -1.638878
c  1   -1.423299
   2   -1.245618
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [5]:
data["a"]

1    0.753959
2    0.437285
3    0.808117
dtype: float64

In [6]:
data["b":"c"]

b  1    1.177771
   2   -0.871868
   3   -1.638878
c  1   -1.423299
   2   -1.245618
dtype: float64

In [7]:
data.loc[["a","c"]]

a  1    0.753959
   2    0.437285
   3    0.808117
c  1   -1.423299
   2   -1.245618
dtype: float64

In [8]:
data.loc[:,1]

a    0.753959
b    1.177771
c   -1.423299
dtype: float64

In [9]:
data.unstack()

          1         2         3
a  0.753959  0.437285  0.808117
b  1.177771 -0.871868 -1.638878
c -1.423299 -1.245618       NaN

In [10]:
data.unstack()

          1         2         3
a  0.753959  0.437285  0.808117
b  1.177771 -0.871868 -1.638878
c -1.423299 -1.245618       NaN

In [11]:
df = pd.DataFrame(
    np.arange(12).reshape(4, 3),
    index=[["a", "a", "b", "b"], [1, 2, 1, 2]],
    columns=[["num", "num", "ver"], ["math", "stat", "geo"]]
)

df

     num      ver
    math stat geo
a 1    0    1   2
  2    3    4   5
b 1    6    7   8
  2    9   10  11

In [12]:
df.index.names = ["class", "exam"]
df.columns.names = ["field", "lesson"]
df

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [13]:
df["num"]

lesson      math  stat
class exam
a     1        0     1
      2        3     4
b     1        6     7
      2        9    10

In [15]:
df.swaplevel("class","exam")#changes hierarchy of indexes

field       num      ver
lesson     math stat geo
exam class
1    a        0    1   2
2    a        3    4   5
1    b        6    7   8
2    b        9   10  11

In [16]:
df.sort_index(level=1)

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
b     1       6    7   8
a     2       3    4   5
b     2       9   10  11

In [21]:
df.groupby(level="exam").sum()

field   num      ver
lesson math stat geo
exam
1         6    8  10
2        12   14  16