In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(
    [[2.4, np.nan], [6.3, -5.4],
    [np.nan, np.nan], [0.75, -1.3]],
    index=["a", "b", "c", "d"],
    columns=["one", "two"]
)
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [6]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [7]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [8]:
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [9]:
df.idxmax()

one    b
two    d
dtype: object

In [10]:
df.idxmin()

one    d
two    b
dtype: object