In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.DataFrame(
    [[2.4, np.nan], [6.3, -5.4],
    [np.nan, np.nan], [0.75, -1.3]],
    index=["a", "b", "c", "d"],
    columns=["one", "two"]
)
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [44]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [45]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [46]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [47]:
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [48]:
df.idxmax()

one    b
two    d
dtype: object

In [49]:
df.idxmin()

one    d
two    b
dtype: object

In [50]:
df.cumsum()#cumalitive sums

    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [51]:
df.describe()#summarize statisitcs of the dataset

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [58]:
iris=pd.read_csv("iris.data",sep=",",header=None)#imports a data set in a csv format

In [59]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [60]:
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']#renames column headers

In [61]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [62]:
iris["sepal_length"].corr(iris["sepal_width"])#.corr is the correlation number between two columns

np.float64(-0.1093692499506493)

In [63]:
iris.corr()

ValueError: could not convert string to float: 'Iris-setosa'

In [64]:
iris.cov()

ValueError: could not convert string to float: 'Iris-setosa'

In [65]:
iris.corrwith(iris.petal_length)

ValueError: could not convert string to float: 'Iris-setosa'

In [67]:
s=pd.Series(["b","b","b","b","c","c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [68]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [69]:
s.value_counts()

b    4
a    3
c    2
Name: count, dtype: int64

In [72]:
x=s.isin(["b","c"])#another way of doing "contains"
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [73]:
s[x]

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object