In [2]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj#Series is a one dimensional object that represents a "row"

0       1
1    John
2     3.5
3     Hey
dtype: object

In [4]:
obj[0]

1

In [5]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [6]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [8]:
obj2["b"]

'John'

In [11]:
obj2.index#dtype describes how the values are stored, in this case they are stored as objects

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
score={"Jane":90,"Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score)# converts lists into series
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [14]:
names["Tim"]

np.int64(95)

In [15]:
names[names>=85]# serves as a filter for only values that are greater that

Jane    90
Elon    85
Tim     95
dtype: int64