In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.DataFrame(np.arange(16).reshape(4,4),index=[list("aabb"),[1,2]*2],columns=[["num","num","comp","comp"],["math","stat"]*2])
data

     num      comp
    math stat math stat
a 1    0    1    2    3
  2    4    5    6    7
b 1    8    9   10   11
  2   12   13   14   15

In [4]:
data.index.names=["class","exam"]
data.columns.names=["field","lesson"]
data

field       num      comp
lesson     math stat math stat
class exam
a     1       0    1    2    3
      2       4    5    6    7
b     1       8    9   10   11
      2      12   13   14   15

In [5]:
long=data.stack()

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\559450661.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  long=data.stack()

In [6]:
long

field              num  comp
class exam lesson
a     1    math      0     2
           stat      1     3
      2    math      4     6
           stat      5     7
b     1    math      8    10
           stat      9    11
      2    math     12    14
           stat     13    15

In [7]:
long.unstack()

field       num      comp
lesson     math stat math stat
class exam
a     1       0    1    2    3
      2       4    5    6    7
b     1       8    9   10   11
      2      12   13   14   15

In [8]:
data.stack()

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\2489631911.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data.stack()

field              num  comp
class exam lesson
a     1    math      0     2
           stat      1     3
      2    math      4     6
           stat      5     7
b     1    math      8    10
           stat      9    11
      2    math     12    14
           stat     13    15

In [9]:
data.stack(0)

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\785647325.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data.stack(0)

lesson            math  stat
class exam field
a     1    comp      2     3
           num       0     1
      2    comp      6     7
           num       4     5
b     1    comp     10    11
           num       8     9
      2    comp     14    15
           num      12    13

In [10]:
data.stack("field")

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\2080078816.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data.stack("field")

lesson            math  stat
class exam field
a     1    comp      2     3
           num       0     1
      2    comp      6     7
           num       4     5
b     1    comp     10    11
           num       8     9
      2    comp     14    15
           num      12    13

In [11]:
s1=pd.Series(np.arange(4),index=list("abcd"))
s2=pd.Series(np.arange(6,9),index=list("cde"))

In [12]:
print(s1)
print(s2)

a    0
b    1
c    2
d    3
dtype: int64
c    6
d    7
e    8
dtype: int64

In [13]:
data2=pd.concat([s1,s2],keys=["bir","iki"])
data2

bir  a    0
     b    1
     c    2
     d    3
iki  c    6
     d    7
     e    8
dtype: int64

In [14]:
data2.unstack()

       a    b    c    d    e
bir  0.0  1.0  2.0  3.0  NaN
iki  NaN  NaN  6.0  7.0  8.0

In [15]:
data2.unstack().stack(dropna=False)

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\3936770077.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data2.unstack().stack(dropna=False)

bir  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
iki  a    NaN
     b    NaN
     c    6.0
     d    7.0
     e    8.0
dtype: float64

In [16]:
data2.unstack().stack(dropna=False)

C:\Users\marco\AppData\Local\Temp\ipykernel_20108\3936770077.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  data2.unstack().stack(dropna=False)

bir  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
iki  a    NaN
     b    NaN
     c    6.0
     d    7.0
     e    8.0
dtype: float64

In [17]:
stock=pd.DataFrame({"fruit":["apple","plum","grape"]*2,"color":["purple","yellow"]*3,"piece":[3,4,5,6,1,2]})

In [18]:
stock

   fruit   color  piece
0  apple  purple      3
1   plum  yellow      4
2  grape  purple      5
3  apple  yellow      6
4   plum  purple      1
5  grape  yellow      2

In [20]:
stock.pivot()

TypeError: DataFrame.pivot() missing 1 required keyword-only argument: 'columns'

In [21]:
stock["value"]=np.random.randn(len(stock))

In [22]:
stock

   fruit   color  piece     value
0  apple  purple      3 -1.783989
1   plum  yellow      4 -0.492356
2  grape  purple      5 -0.446171
3  apple  yellow      6  2.605099
4   plum  purple      1  0.109977
5  grape  yellow      2  0.584316

In [23]:
p=stock.pivot("fruit","color")
p

TypeError: DataFrame.pivot() takes 1 positional argument but 3 were given

In [24]:
p["value"]

NameError: name 'p' is not defined

In [25]:
data=pd.DataFrame({"lesson":["math","stat","bio"],"Sam":[50,60,70],"Kim":[80,70,90],"Tom":[60,70,85]})
data

  lesson  Sam  Kim  Tom
0   math   50   80   60
1   stat   60   70   70
2    bio   70   90   85

In [26]:
 group=pd.melt(data,["lesson"])

In [27]:
group

  lesson variable  value
0   math      Sam     50
1   stat      Sam     60
2    bio      Sam     70
3   math      Kim     80
4   stat      Kim     70
5    bio      Kim     90
6   math      Tom     60
7   stat      Tom     70
8    bio      Tom     85

In [28]:
data=group.pivot("lesson","variable","value")
data

TypeError: DataFrame.pivot() takes 1 positional argument but 4 were given

In [29]:
data.reset_index()

   index lesson  Sam  Kim  Tom
0      0   math   50   80   60
1      1   stat   60   70   70
2      2    bio   70   90   85